<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TekConf</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@


    <!-- CSS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-jasny/dist/extend/css/jasny-bootstrap.min.css" rel="stylesheet" />
    <!--<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />-->
    <link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/select2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/select2/select2-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery.uniform/themes/default/css/uniform.default.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/prettify.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="~/Content/ark.css" rel="stylesheet" type="text/css" />
</head>
<body class="cover">

    <div class="wrapper">
        <!-- Demo Bar -->
        @*<div id="layout_options">
                <a href="#" class="options-handle"><i class="fa fa-gear"></i></a>
                <h5>Layout Options</h5>
                <label>
                    <input type="checkbox" id="fixed_header" />
                    Fixed header
                </label>
                <label>
                    <input type="checkbox" id="fixed_container" />
                    Within a container
                </label>
            </div>*@
        <!-- END: Demo Bar -->
        @Html.Partial("_HeaderNav")
        <!-- BODY -->
        <div class="body">

            @Html.Partial("_Sidebar")

            @RenderBody()
        </div>
        <!-- END: BODY -->
    </div>

    <!-- JS -->
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
    <script src="~/Scripts/jquery.uniform.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-jasny/dist/extend/js/jasny-bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-autosize/jquery.autosize.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/dropzone/downloads/dropzone.min.js"></script>
    <script src="~/Scripts/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="~/Scripts/jquery-flot/jquery.flot.js"></script>
    <script src="~/Scripts/jquery-flot/jquery.flot.pie.js"></script>
    <script src="~/Scripts/jquery-flot/jquery.flot.stack.js"></script>
    <script src="~/Scripts/jquery-flot/jquery.flot.resize.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/prettify.js"></script>
    <script src="~/Scripts/ark.min.js"></script>

    @RenderSection("scripts", required: false)
</body>

@*@Html.Partial("_LoginPartial")



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
*@
</html>
