@model TekConf.Web.ViewModels.HomePageViewModel

@{
	ViewBag.Title = "Home Page";
}

<div class="slider-inner">
	<div id="da-slider" class="da-slider">
		<div class="da-slide">
			<h2><i>MEET.</i><br /><i>CONNECT.</i><br /><i>LEARN.</i></h2>
		</div>
	</div>
</div>

<div class="container">
	<div class="headline">
		<h3>@Model.TotalCount Upcoming Conferences</h3>
	</div>
	<ul class="thumbnails">

		@foreach (var featuredConference in Model.FeaturedConferences)
		{
			<li class="span3">
				<div class="thumbnail-style thumbnail-kenburn">
					<div class="thumbnail-img">
						<div class="overflow-hidden">
							<a href="~/Conferences/@featuredConference.Slug"><img src="@featuredConference.ImageUrl" alt="@featuredConference.Name" /></a>
						</div>
						<a class="btn btn-more hover-effect" href="~/Conferences/@featuredConference.Slug">read more +</a>
					</div>
					<h3>@Html.ActionLink(featuredConference.Name, "Detail", "Conferences", new { conferenceSlug = featuredConference.Slug }, new { @class = "hover-effect" })</h3>
					<p>
						<a href="~/Conferences/@featuredConference.Slug" class="hover-effect">
							@featuredConference.Start.Value.ToString("MMMM dd, yyyy")<br>@featuredConference.Description
						</a>
					</p>
				</div>
			</li>
		}



	</ul>
</div>

@section scripts {
	changeMenuActive('menuHome');
}