@using TekConf.Web.Admin.Code
@model TekConf.Web.Admin.ViewModels.Conference.ConferenceIndexViewModel


<section class="content">

    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-home fa-fw"></i> Conferences</li>
    </ol>

    <div class="header">
        <div class="col-md-12">
            <h3 class="header-title">Conferences</h3>
            <p class="header-info">Overview and latest statistics</p>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="main-content">

        @foreach (var conference in Model.Conferences)
        {
            <div class="row">
                <div class="col-md-2">
                    <img src="@conference.ImageUrl" />
                </div>
                <div class="col-md-5">
                    <span class="label label-success">LIVE</span> <h3 style="display:inline;">@conference.Name</h3>
                    <a href="@Url.Action("Edit", "Conference", new { id = conference.Id })" class="btn btn-primary pull-right">Edit</a>
                    <br /><br />
                    @if (conference.Start.HasValue)
                    {
                        <div class="well well-sm">
                            @conference.Start.ToSafeString("dddd, MMMM dd, yyyy") - @conference.End.ToSafeString("dddd, MMMM dd, yyyy")<br />

                            @((DateTime.Now - @conference.Start.Value).Days) <text>days until</text> @conference.Name
                        </div>
                    }
                    <span class="label label-success">10 sessions live</span> <span class="label label-success">5 sessions favorited</span><br/>
                    <span class="label label-danger">1 session missing room</span>
                    <span class="label label-danger">1 session missing start time</span>
                    <span class="label label-warning">1 session missing speaker</span>
                    <span class="label label-warning">1 session missing abstract</span>
                </div>
                <div class="col-md-5">
                    <div class="panel ">
                        <div class="panel-heading">
                            <h3 class="panel-title">Overview</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6 col-sm-6 col-xs-6 text-center pie-box">
                                <div class="pie-chart" data-percent="73"><span>0%</span></div>
                                <a href="#" class="pie-title">Time slots scheduled</a>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-center pie-box">
                                <div class="pie-chart" data-percent="34" data-bar-color="#1F8A70"><span>0%</span></div>
                                <a href="#" class="pie-title">Tickets sold</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
    <!-- END: CONTENT -->
</section>